name: Deploy
on: [push]
jobs:
  Build-Web:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - with:
          submodules: recursive
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'adopt'
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Build with Gradle
        run: ./gradlew editor-web:dist
