name: Deploy Desktop
on:
  push:
    branches:
      - talos-3d
jobs:
  Build-Desktop-And-Snapshot:
    runs-on: ubuntu-latest
    env:
      ORG_GRADLE_PROJECT_GITHUB_USERNAME: ${{ github.actor }}
      ORG_GRADLE_PROJECT_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      ORG_GRADLE_PROJECT_snapshotUsername: ${{ secrets.NEXUS_USERNAME }}
      ORG_GRADLE_PROJECT_snapshotPassword: ${{ secrets.NEXUS_PASSWORD }}
    steps:
      - uses: actions/checkout@v3
        with:
            submodules: recursive
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'adopt'
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Build with Gradle
        run: |
          ./gradlew runtimes:talos:publishAllPublicationsToSnapshotRepository
          ./gradlew runtimes:talos-libgdx:publishAllPublicationsToSnapshotRepository
          ./gradlew runtimes:talos-bongo:publishAllPublicationsToSnapshotRepository
          ./gradlew editor-desktop:dist

      - name: Install SSH Key
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          known_hosts: 'just-a-placeholder-so-we-dont-get-errors'

      - name: Adding Known Hosts
        run: ssh-keyscan -H ${{ secrets.SSH_SERVER }} >> ~/.ssh/known_hosts

      - name: Deploy binary jar to server with scp
        run: scp -r ./editor-desktop/build/libs/* ${{secrets.SSH_SERVER_USER }}@${{secrets.SSH_SERVER }}:/var/www/editor.talosvfx.com/raw-editor-binaries

      - name: Execute repo gen
        run: ssh ${{secrets.SSH_SERVER_USER }}@${{secrets.SSH_SERVER }} 'bash -s' < ./editor-desktop-bootstrap/remote-repogen.sh
